<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-LauraIran7/blob/main/A01794099_Python_for_data_science_Modules1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science (IBM)

Written notes corresponding to the course Python for Data Science (IBM). From Module 1 to Module 3.

By:
**Laura Irán González Ojeda - A01794099**

# Module 1 - Python Basics

In [ ]:
#Fist program
print("Hello Python 101")

Hello Python 101

In [ ]:
#Ejercicio
print("Hello\nWorld!")

Hello
World!

**Types**

We can see the actual data type in Python by using the type command.

In [ ]:
#Types
float(2)

2.0

You can change the type of the expression
in Python; this is called type casting. You can convert an int to a float.

In [ ]:
int(1.1)

1

In [ ]:
int('1')
#int('A') - Error

1

Boolean is another important type in Python. A Boolean can take on two values: True or False
If we cast a Boolean false to an integer or
float, we get a zero. If you cast a 1 to a Boolean, you get a true.

In [ ]:
type(True)

bool

In [ ]:
int(True)

1

In [ ]:
#Ejercicios
type(int(1.0))

int

In [ ]:
bool(1)

True

**String Operations**

In Python, a string is a sequence of characters. A string is contained within two quotes: You could also use single quotes. A string can be spaces, or digits.

In [ ]:
#Backslashes represent the beginning of escape sequences.
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [ ]:
#Method "Upper"
A="laura"
B=A.upper()
B

'LAURA'

In [ ]:
#Method "Replace"
A="Michael Jackson is the best"
B=A.replace("Michael","Janet")
B

'Janet Jackson is the best'

In [ ]:
#Ejercicios
Numbers = "0123456"
Numbers[::2]

'0246'

In [ ]:
"0123456".find('1')

1

**Review Questions**

In [ ]:
#Question 1
3 + 2 * 2

7

In [ ]:
#Question 2
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
#Question 3
var = '01234567'
print(var[::2])

0246

In [ ]:
#Question 4
'1'+'2'

'12'

In [ ]:
 #Question 5
 myvar = 'hello'
 print(myvar.upper())

HELLO

# Module 2 - Python Data Structures

**Tuples**

Tuples are an ordered sequence. Tuples are expressed as comma-separated elements within parentheses. In Python, there are different types: strings, integer, float.

In [ ]:
Tuple1 = ("disco",10,1.2,"hard rock",10)
Tuple1[3:5]

('hard rock', 10)

In [ ]:
#Sorted tuple
Ratings=(10,9,6,5,10,8,9,6,2)
RatingsSorted=sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [ ]:
#Nesting
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT[2]

('pop', 'rock')

In [1]:
#Lists
L = ["Michael",10.1,1928]

In [3]:
#Ejercicios
A=(0,1,2,3)
A[-1]

3

In [4]:
B=["a","b","c"]
B[1:]

['b', 'c']

**Sets**

Sets are a type of collection. This means that like lists and tuples, you can input different python types. Unlike lists and tuples they are unordered.

In [6]:
#You can convert a list to a set by using the function set; this is called type-casting.
album_list = ["Michael Jackson","Thriller","Thriller",1982]
album_set = set(album_list)
album_set

{1982, 'Michael Jackson', 'Thriller'}

In [7]:
A = {"Thriller","Back in Black", "AC/DC"}
A.add("NSYNC") #Add an item
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [8]:
#SET OPERATIONS
#Intersection: In Python, we simply just place the  '&' between the two sets.
Album_set_1 = {"Thriller","Back in Black", "AC/DC"}
Album_set_2 = {"The dark side of the Moon","Back in Black", "AC/DC"}
Album_set_3 = Album_set_1 & Album_set_2
Album_set_3

{'AC/DC', 'Back in Black'}

In [10]:
#Union
#The union of two sets is the new set of elements which contain all the items in both sets. We can find the union of the sets album set
Album_set_1.union(Album_set_2)

{'AC/DC', 'Back in Black', 'The dark side of the Moon', 'Thriller'}

In [11]:
#Ejercicios
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [12]:
S={'A','B','C'}

U={'A','Z','C'}

X = S&U
X

{'A', 'C'}

**Dictionaries**

 Dictionaries are a type of collection in Python.

A dictionary has keys and values. The key is analogous to the index, they are like addresses but they don’t have to be integers. They are usually characters; the values are similar to the elements in a list and contain information.
To create a dictionary, we use curly brackets. The keys are the first elements; they must be immutable and unique. Each key is followed by a value separated
by a colon. The values can be immutable, mutable and duplicates.

In [18]:
D = {"Thriller":1982,"Back in Black":1980, "The dark side of the Moon": 1973, "The bodyguard":1992}
D["Thriller"]

1982

In [19]:
#Delete entries by key
del(D['Thriller'])
D.keys()

dict_keys(['Back in Black', 'The dark side of the Moon', 'The bodyguard'])

In [15]:
#Ejercicios
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [16]:
D = {'a':0,'b':1,'c':2}
D['b']

1

**Review Questions**

In [20]:
#Question 1
A = ('a','b','c')
A[0]

'a'

In [24]:
#Question 2
L.append(['a','b'])
L

['Michael', 10.1, 1928, ['a', 'b'], ['a', 'b'], ['a', 'b']]

In [25]:
#Question 4
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

# Module 3 - Python Programming Fundamentals

**Conditions and Branching**