<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-LauraIran7/blob/main/A01794099_Python_for_data_science_Modules1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science (IBM)

# Module 1 - Python Basics

In [ ]:
#Fist program
print("Hello Python 101")

Hello Python 101

In [ ]:
#Ejercicio
print("Hello\nWorld!")

Hello
World!

**Types**

We can see the actual data type in Python by using the type command.

In [ ]:
#Types
float(2)

2.0

You can change the type of the expression
in Python; this is called type casting. You can convert an int to a float.

In [ ]:
int(1.1)

1

In [ ]:
int('1')
#int('A') - Error

1

Boolean is another important type in Python. A Boolean can take on two values: True or False
If we cast a Boolean false to an integer or
float, we get a zero. If you cast a 1 to a Boolean, you get a true.

In [ ]:
type(True)

bool

In [ ]:
int(True)

1

In [ ]:
#Ejercicios
type(int(1.0))

int

In [ ]:
bool(1)

True

**String Operations**

In Python, a string is a sequence of characters. A string is contained within two quotes: You could also use single quotes. A string can be spaces, or digits.

In [3]:
#Backslashes represent the beginning of escape sequences.
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [4]:
#Method "Upper"
A="laura"
B=A.upper()
B

'LAURA'

In [6]:
#Method "Replace"
A="Michael Jackson is the best"
B=A.replace("Michael","Janet")
B

'Janet Jackson is the best'

In [7]:
#Ejercicios
Numbers = "0123456"
Numbers[::2]

'0246'

In [8]:
"0123456".find('1')

1

**Review Questions**

In [9]:
#Question 1
3 + 2 * 2

7

In [10]:
#Question 2
name = 'Lizz'
print(name[0:2])

Li

In [11]:
#Question 3
var = '01234567'
print(var[::2])

0246

In [12]:
#Question 4
'1'+'2'

'12'

In [13]:
 #Question 5
 myvar = 'hello'
 print(myvar.upper())

HELLO

# Module 2 - Python Data Structures

**Tuples**

Tuples are an ordered sequence. Tuples are expressed as comma-separated elements within parentheses. In Python, there are different types: strings, integer, float.

In [16]:
Tuple1 = ("disco",10,1.2,"hard rock",10)
Tuple1[3:5]

('hard rock', 10)

In [17]:
#Sorted tuple
Ratings=(10,9,6,5,10,8,9,6,2)
RatingsSorted=sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [18]:
#Nesting
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT[2]

('pop', 'rock')